.body{
  width: 100%;
  height: 100%;
  position: absolute;
  background: #1D4350;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container{
  position: absolute;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  height: 100px;
  top: 40%;
  left: 43%;
}
button{
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-color:darkgrey

}
