<h1>solve linear equations</h1>

<div class="container">
  <div style="display: flex;">

    <div class="dropdown" id = "main">
      <textarea [(ngModel)] = "systemInput" id = "textinput" cols = "70" row = "2" (input) = parseSystem()>
      </textarea>
        <label>Enter number of equations: </label>
        <select [(ngModel)] = "externalnum" id="no_equ" (change)="generate(externalnum);delete(externalnum)">
          <option value="1" >1</option>
          <option value="2" >2</option>
          <option value="3" >3</option>
          <option value="4" >4</option>
          <option value="5" >5</option>
          <option value="6" >6</option>
          <option value="7" >7</option>
          <option value="8" >8</option>
          <option value="9" >9</option>
          <option value="10" >10</option>
        </select>

        <label>Enter the desired precision: </label>
        <select [(ngModel)] = "significant_figure" id="significance">
          <option value="1" >1</option>
          <option value="2" >2</option>
          <option value="3" >3</option>
          <option value="4" >4</option>
          <option value="5" >5</option>
          <option value="6" >6</option>
          <option value="7" >7</option>
          <option value="8" >8</option>
          <option value="9" >9</option>
          <option value="10" >10</option>
          <option value="11" >11</option>
          <option value="12" >12</option>
          <option value="13" >13</option>
          <option value="14" >14</option>
          <option value="15" >15</option>
          <option value="16" >16</option>
          <option value="17" >17</option>
          <option value="18" >18</option>
          <option value="19" >19</option>
          <option value="20" >20</option>
        </select>

        <select [(ngModel)] = "currentSolType" id = "selectSolver" (change)="solutionTypeList(currentSolType)">
          <optgroup label="Direct Methods">
            <option *ngFor = "let sol of DirectSolTypes">
              {{sol.type}}
            </option>
          </optgroup>
          <optgroup label="Iterative Methods">
            <option *ngFor = "let sol of iterativeSolTypes">
              {{sol.type}}
            </option>
          </optgroup>
          <optgroup Label = "LU Decomposition">
            <option *ngFor = "let dec of decompostions">
              {{dec.type}}
            </option>
          </optgroup>
        </select>

        <button id = "validate" (click) = "validateInput();validateSymmetric()">Validate</button>
        <button id = "solve" (click) = "solve()">Solve</button>
    </div>
  </div>


  <!-- <div id="1000">
    <button (click)="create()">Change the name of the varaibles in the system</button>
    <div id="1">
    </div>
  </div> -->

  <div id="0">
      <div id="0.5">
          <div  style="display: flex;">
              <input placeholder="0" type="number" class="matrixIn" id = "input00">
              <p>X1</p>
              <p>+</p>
              <input placeholder="0" type="number" class="matrixIn" id = "input01">
              <p>X2</p>
              <p>=</p>
              <input placeholder="0" type="number" class="matrixIn" id = "input02">

          </div>
          <div  style="display: flex;">
              <input placeholder="0" type="number" class="matrixIn" id = "input10">
              <p>X1</p>
              <p>+</p>
              <input placeholder="0" type="number" class="matrixIn" id = "input11">
              <p>X2</p>
              <p>=</p>
              <input placeholder="0" type="number" class="matrixIn" id = "input12">

          </div>
      </div>
  </div>
</div>

