<div class="body">
  <div class='container'>
    <button id="rootFinding" routerLink="/rootFinding" style="height: 90px;">
      <img src= "assets/root.png" width = 75px length = 75px />
      <P style="margin-top: 20px; color: white;">root finding</P>
    </button>
    <button id="or">or</button>
    <button id="systemSolver" routerLink="/systemSolver" style="height: 90px;">
      <img src= "assets/system.png" width = 75px length = 75px />
      <P style="margin-top: 20px; color: white;">System solver</P>
    </button>
    </div> 
</div>


