<h1>Finding roots</h1>
<div class="container" id = "main">
    <div style="display: flex;">
      <div class="dropdown" id = "main">
        <textarea  id = "textinput" [(ngModel)] = "funcInput" (input)="verify()" cols = "70" row = "10"  spellcheck = "false"  class = "box">
        </textarea>
        <label id ="labelsol">Enter the desired precision: </label>
        <select [(ngModel)] = "significant_figure" id="significance">
          <option value="1" >1</option>
          <option value="2" >2</option>
          <option value="3" >3</option>
          <option value="4" >4</option>
          <option value="5" >5</option>
          <option value="6" >6</option>
          <option value="7" >7</option>
          <option value="8" >8</option>
          <option value="9" >9</option>
          <option value="10" >10</option>
          <option value="11" >11</option>
          <option value="12" >12</option>
          <option value="13" >13</option>
          <option value="14" >14</option>
          <option value="15" >15</option>
          <option value="16" >16</option>
          <option value="17" >17</option>
          <option value="18" >18</option>
          <option value="19" >19</option>
          <option value="20" >20</option>
        </select>
        <select   id = "selectSolver" [(ngModel)] = "currentSolType" (change)=solutionTypeList(currentSolType) (change)="change()" >
            <optgroup label="Bracketing Methods">
              <option   *ngFor = "let sol of DirectSolTypes">
                {{sol.type}}
              </option>
            </optgroup>
            <optgroup Label = "Open methods">
              <option *ngFor = "let dec of decompostions">
                {{dec.type}}
              </option>
            </optgroup>
          </select>
      <label id ="labelsol" style="margin-top: 20px;">Enter the desired iterations: </label>
      <input type="number" id="iterations"  placeholder="50" style="width: 50px; margin-top: 20px; border-radius: 10px;background-color: rgb(251, 197, 161);">
      <label id ="labelsol"  style="margin-top: 20px; margin-left: 10px;">Enter desired tolerance: </label>
      <input type="number" id="precision"  placeholder="0.00001" style="width: 70px; margin-top: 20px; border-radius: 10px;background-color: rgb(251, 197, 161);">
      
       <div id="yes">
        <label id ="labelsol" style="margin-top: 20px;">Enter inital values: </label>
        <input type="number" id="intial1"  placeholder="0" required style="width: 50px; margin-top: 20px; border-radius: 10px;background-color: rgb(251, 197, 161);">
        <input type="number" id="intial2"  placeholder="1" required style="width: 50px; margin-top: 20px; border-radius: 10px;background-color: rgb(251, 197, 161);">
       </div>
      </div>
    </div>
    <div id="0">
        <div id="0.25">
        </div>
          <div id="0.5">
          </div>
      </div>
      <button style="margin-left: 200px; margin-top: 40px;" id = "solve"  (click)="read()" (click)="displaySolution()">Solve</button>
      <div id="5000">
        <div id="soln">
        </div>
      </div>
    <div id=runtime>
    <p>Runtime: {{runTime}} ms</p>
    </div>
</div>
