
h1{
  position: absolute;
  font-family:fantasy;
  left: 44%;
}
canvas{
  position: absolute;
  top: 12%;
  left: 12%;
  width: 75%;
  height: 75%;
  color:white;
  background-color:rgb(24, 24, 24);
  border-radius: 15px;


}
