/* You can add global styles to this file, and also import other style files */
body {
	background: linear-gradient(-130deg, #884997, #815063, #4a7a8b, #589486);

	background-size: 3500% 3500%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
